<header class="header">
  <div class="header__profile">
    <img class="profile__image" [src]="user?.photo || defaultPhotoUrl" />
    <span>{{ user?.username }}</span>
  </div>
  <button (click)="clickLogout($event)" mat-flat-button color="warn">
    Log Out
  </button>
</header>
<mat-divider class="divider"></mat-divider>
<main class="main">
  <h1 class="main__title">Projects</h1>
  <div class="main__projects">
    <a class="main__project">
      <mat-icon class="project__icon">add</mat-icon>
      <div class="project__content">Create Project</div>
    </a>
    <a
      *ngFor="let project of projects"
      [routerLink]="['/project', project.title.trim()]"
      class="main__project"
    >
      <div class="project__content">
        {{ project.title }}
      </div>
    </a>
  </div>
</main>
<router-outlet></router-outlet>
