<div class="signup">
  <form class="signup__form" [formGroup]="signupForm" (ngSubmit)="signup()">
    <h2 class="form__title">Sign Up</h2>
    <div class="form__fields">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          [type]="showPassword ? 'text' : 'password'"
          required
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="clickShowPassword($event)"
        >
          <mat-icon color="primary">{{
            showPassword ? 'visibility' : 'visibility_off'
          }}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          formControlName="confirmPassword"
          [type]="showConfirmPassword ? 'text' : 'password'"
          required
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="clickShowConfirmPassword($event)"
        >
          <mat-icon color="primary">{{
            showConfirmPassword ? 'visibility' : 'visibility_off'
          }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="form__actions">
      <button type="submit" mat-raised-button color="primary" cdkFocusInitial>
        Sign up
      </button>
      <span>
        Already have an account?
        <a href="/login" class="link">Login</a>
      </span>
    </div>
    <div class="form__divider">
      <mat-divider class="divider" />
      <span>OR</span>
      <mat-divider class="divider" />
    </div>
  </form>
</div>
